body {
    background: #000000;
    color     : aliceblue;
}

h1 {
    background: #4a4f96;
}

h2 {
    background: #458989;
}

ol {
    background: #3d3d3d;
}

p {
    background: #6c4a96;
}

.bg-color-1 {
    background: #6c603e;
}

.item-color-1 {
    color: #2431de;
}

.item-color-2 {
    color: #c127e3;
}

.item-color-3 {
    color: #dc2537;
}

.item-color-4 {
    color: #24eb53;
}

.item-color-5 {
    color: #faed59;
}