body {
    background: #000000;
    color     : aliceblue;
}

h1 {
    background: #4a4f96;
}

h2 {
    background: #458989;
}

ol {
    background: #3d3d3d;
}

p {
    background: #6c4a96;
}

.bg-color-1 {
    background: #6c603e;
}